$pn-font-path: "~@dannymichel/font-proxima-nova-scss/fonts" !default;

@font-face {
    font-family: "Proxima Nova Cn Lt";
    src: url("#{$pn-font-path}/ProximaNovaCond-LightIt.eot");
    src: 
        local("Proxima Nova Condensed Light Italic"),
        local("ProximaNovaCond-LightIt"),
        url("#{$pn-font-path}/ProximaNovaCond-LightIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-LightIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-LightIt.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Lt";
    src: url("#{$pn-font-path}/ProximaNova-LightIt.eot");
    src:
        local("Proxima Nova Light Italic"), local("ProximaNova-LightIt"),
        url("#{$pn-font-path}/ProximaNova-LightIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-LightIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-LightIt.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Cn Rg";
    src: url("#{$pn-font-path}/ProximaNovaCond-Regular.eot");
    src:
        local("Proxima Nova Condensed Regular"), local("ProximaNovaCond-Regular"),
        url("#{$pn-font-path}/ProximaNovaCond-Regular.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-Regular.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Th";
    src: url("#{$pn-font-path}/ProximaNova-Extrabld.eot");
    src:
        local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"),
        url("#{$pn-font-path}/ProximaNova-Extrabld.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-Extrabld.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-Extrabld.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Cn Bl";
    src: url("#{$pn-font-path}/ProximaNovaCond-Black.eot");
    src:
        local("Proxima Nova Condensed Black"), local("ProximaNovaCond-Black"),
        url("#{$pn-font-path}/ProximaNovaCond-Black.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-Black.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Cn Th";
    src: url("#{$pn-font-path}/ProximaNovaCond-ExtrabldIt.eot");
    src:
        local("Proxima Nova Condensed Extrabold Italic"),
    local("ProximaNovaCond-ExtrabldIt"),
        url("#{$pn-font-path}/ProximaNovaCond-ExtrabldIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-ExtrabldIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-ExtrabldIt.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("#{$pn-font-path}/ProximaNova-Regular.eot");
    src:
        local("Proxima Nova Regular"), local("ProximaNova-Regular"),
        url("#{$pn-font-path}/ProximaNova-Regular.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-Regular.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Lt";
    src: url("#{$pn-font-path}/ProximaNova-Semibold.eot");
    src:
        local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
        url("#{$pn-font-path}/ProximaNova-Semibold.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-Semibold.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova ExCn Th";
    src: url("#{$pn-font-path}/ProximaNovaExCn-Thin.eot");
    src:
        local("Proxima Nova Extra Condensed Thin"), local("ProximaNovaExCn-Thin"),
        url("#{$pn-font-path}/ProximaNovaExCn-Thin.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-Thin.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Cn Lt";
    src: url("#{$pn-font-path}/ProximaNovaCond-Semibold.eot");
    src:
        local("Proxima Nova Condensed Semibold"),
    local("ProximaNovaCond-Semibold"),
        url("#{$pn-font-path}/ProximaNovaCond-Semibold.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-Semibold.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova ExCn Lt";
    src: url("#{$pn-font-path}/ProximaNovaExCn-SemiboldIt.eot");
    src:
        local("Proxima Nova Extra Condensed Semibold Italic"),
    local("ProximaNovaExCn-SemiboldIt"),
        url("#{$pn-font-path}/ProximaNovaExCn-SemiboldIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-SemiboldIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-SemiboldIt.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova ExCn Lt";
    src: url("#{$pn-font-path}/ProximaNovaExCn-Semibold.eot");
    src:
        local("Proxima Nova Extra Condensed Semibold"),
    local("ProximaNovaExCn-Semibold"),
        url("#{$pn-font-path}/ProximaNovaExCn-Semibold.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-Semibold.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Th";
    src: url("#{$pn-font-path}/ProximaNova-ThinIt.eot");
    src:
        local("Proxima Nova Thin Italic"), local("ProximaNova-ThinIt"),
        url("#{$pn-font-path}/ProximaNova-ThinIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-ThinIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-ThinIt.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Cn Th";
    src: url("#{$pn-font-path}/ProximaNovaCond-Thin.eot");
    src:
        local("Proxima Nova Condensed Thin"), local("ProximaNovaCond-Thin"),
        url("#{$pn-font-path}/ProximaNovaCond-Thin.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-Thin.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Cn Rg";
    src: url("#{$pn-font-path}/ProximaNovaCond-RegularIt.eot");
    src:
        local("Proxima Nova Condensed Regular Italic"),
    local("ProximaNovaCond-RegularIt"),
        url("#{$pn-font-path}/ProximaNovaCond-RegularIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-RegularIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-RegularIt.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova ExCn Th";
    src: url("#{$pn-font-path}/ProximaNovaExCn-ThinIt.eot");
    src:
        local("Proxima Nova Extra Condensed Thin Italic"),
    local("ProximaNovaExCn-ThinIt"),
        url("#{$pn-font-path}/ProximaNovaExCn-ThinIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-ThinIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-ThinIt.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Lt";
    src: url("#{$pn-font-path}/ProximaNova-SemiboldIt.eot");
    src:
        local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"),
        url("#{$pn-font-path}/ProximaNova-SemiboldIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-SemiboldIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-SemiboldIt.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Rg";
    src: url("#{$pn-font-path}/ProximaNova-RegularIt.eot");
    src:
        local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"),
        url("#{$pn-font-path}/ProximaNova-RegularIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-RegularIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-RegularIt.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Cn Th";
    src: url("#{$pn-font-path}/ProximaNovaCond-Extrabld.eot");
    src:
        local("Proxima Nova Condensed Extrabold"),
    local("ProximaNovaCond-Extrabld"),
        url("#{$pn-font-path}/ProximaNovaCond-Extrabld.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-Extrabld.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-Extrabld.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova ExCn Th";
    src: url("#{$pn-font-path}/ProximaNovaExCn-ExtrabldIt.eot");
    src:
        local("Proxima Nova Extra Condensed Extrabold Italic"),
    local("ProximaNovaExCn-ExtrabldIt"),
        url("#{$pn-font-path}/ProximaNovaExCn-ExtrabldIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-ExtrabldIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-ExtrabldIt.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova ExCn Bl";
    src: url("#{$pn-font-path}/ProximaNovaExCn-BlackIt.eot");
    src:
        local("Proxima Nova Extra Condensed Black Italic"),
    local("ProximaNovaExCn-BlackIt"),
        url("#{$pn-font-path}/ProximaNovaExCn-BlackIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-BlackIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-BlackIt.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova ExCn Lt";
    src: url("#{$pn-font-path}/ProximaNovaExCn-LightIt.eot");
    src:
        local("Proxima Nova Extra Condensed Light Italic"),
    local("ProximaNovaExCn-LightIt"),
        url("#{$pn-font-path}/ProximaNovaExCn-LightIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-LightIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-LightIt.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Cn Th";
    src: url("#{$pn-font-path}/ProximaNovaCond-ThinIt.eot");
    src:
        local("Proxima Nova Condensed Thin Italic"),
    local("ProximaNovaCond-ThinIt"),
        url("#{$pn-font-path}/ProximaNovaCond-ThinIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-ThinIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-ThinIt.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova ExCn Lt";
    src: url("#{$pn-font-path}/ProximaNovaExCn-Light.eot");
    src:
        local("Proxima Nova Extra Condensed Light"),
    local("ProximaNovaExCn-Light"),
        url("#{$pn-font-path}/ProximaNovaExCn-Light.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-Light.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Cn Rg";
    src: url("#{$pn-font-path}/ProximaNovaCond-BoldIt.eot");
    src:
        local("Proxima Nova Condensed Bold Italic"),
    local("ProximaNovaCond-BoldIt"),
        url("#{$pn-font-path}/ProximaNovaCond-BoldIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-BoldIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-BoldIt.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova ExCn Th";
    src: url("#{$pn-font-path}/ProximaNovaExCn-Extrabld.eot");
    src:
        local("Proxima Nova Extra Condensed Extrabold"),
    local("ProximaNovaExCn-Extrabld"),
        url("#{$pn-font-path}/ProximaNovaExCn-Extrabld.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-Extrabld.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-Extrabld.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova ExCn Rg";
    src: url("#{$pn-font-path}/ProximaNovaExCn-BoldIt.eot");
    src:
        local("Proxima Nova Extra Condensed Bold Italic"),
    local("ProximaNovaExCn-BoldIt"),
        url("#{$pn-font-path}/ProximaNovaExCn-BoldIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-BoldIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-BoldIt.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Bl";
    src: url("#{$pn-font-path}/ProximaNova-Black.eot");
    src:
        local("Proxima Nova Black"), local("ProximaNova-Black"),
        url("#{$pn-font-path}/ProximaNova-Black.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-Black.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Rg";
    src: url("#{$pn-font-path}/ProximaNova-Bold.eot");
    src:
        local("Proxima Nova Bold"), local("ProximaNova-Bold"),
        url("#{$pn-font-path}/ProximaNova-Bold.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-Bold.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova ExCn Rg";
    src: url("#{$pn-font-path}/ProximaNovaExCn-Bold.eot");
    src:
        local("Proxima Nova Extra Condensed Bold"), local("ProximaNovaExCn-Bold"),
        url("#{$pn-font-path}/ProximaNovaExCn-Bold.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-Bold.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Th";
    src: url("#{$pn-font-path}/ProximaNovaT-Thin.eot");
    src:
        local("Proxima Nova Thin"), local("ProximaNovaT-Thin"),
        url("#{$pn-font-path}/ProximaNovaT-Thin.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaT-Thin.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaT-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Rg";
    src: url("#{$pn-font-path}/ProximaNova-BoldIt.eot");
    src:
        local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"),
        url("#{$pn-font-path}/ProximaNova-BoldIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-BoldIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-BoldIt.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Cn Rg";
    src: url("#{$pn-font-path}/ProximaNovaCond-Bold.eot");
    src:
        local("Proxima Nova Condensed Bold"), local("ProximaNovaCond-Bold"),
        url("#{$pn-font-path}/ProximaNovaCond-Bold.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-Bold.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova ExCn Bl";
    src: url("#{$pn-font-path}/ProximaNovaExCn-Black.eot");
    src:
        local("Proxima Nova Extra Condensed Black"),
    local("ProximaNovaExCn-Black"),
        url("#{$pn-font-path}/ProximaNovaExCn-Black.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-Black.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova ExCn Rg";
    src: url("#{$pn-font-path}/ProximaNovaExCn-RegularIt.eot");
    src:
        local("Proxima Nova Extra Condensed Regular Italic"),
    local("ProximaNovaExCn-RegularIt"),
        url("#{$pn-font-path}/ProximaNovaExCn-RegularIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-RegularIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-RegularIt.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Cn Lt";
    src: url("#{$pn-font-path}/ProximaNovaCond-Light.eot");
    src:
        local("Proxima Nova Condensed Light"), local("ProximaNovaCond-Light"),
        url("#{$pn-font-path}/ProximaNovaCond-Light.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-Light.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Th";
    src: url("#{$pn-font-path}/ProximaNova-ExtrabldIt.eot");
    src:
        local("Proxima Nova Extrabold Italic"), local("ProximaNova-ExtrabldIt"),
        url("#{$pn-font-path}/ProximaNova-ExtrabldIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-ExtrabldIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-ExtrabldIt.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Cn Bl";
    src: url("#{$pn-font-path}/ProximaNovaCond-BlackIt.eot");
    src:
        local("Proxima Nova Condensed Black Italic"),
    local("ProximaNovaCond-BlackIt"),
        url("#{$pn-font-path}/ProximaNovaCond-BlackIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-BlackIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-BlackIt.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova ExCn Rg";
    src: url("#{$pn-font-path}/ProximaNovaExCn-Regular.eot");
    src:
        local("Proxima Nova Extra Condensed Regular"),
    local("ProximaNovaExCn-Regular"),
        url("#{$pn-font-path}/ProximaNovaExCn-Regular.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaExCn-Regular.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaExCn-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Lt";
    src: url("#{$pn-font-path}/ProximaNova-Light.eot");
    src:
        local("Proxima Nova Light"), local("ProximaNova-Light"),
        url("#{$pn-font-path}/ProximaNova-Light.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-Light.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Cn Lt";
    src: url("#{$pn-font-path}/ProximaNovaCond-SemiboldIt.eot");
    src:
        local("Proxima Nova Condensed Semibold Italic"),
    local("ProximaNovaCond-SemiboldIt"),
        url("#{$pn-font-path}/ProximaNovaCond-SemiboldIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNovaCond-SemiboldIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNovaCond-SemiboldIt.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Bl";
    src: url("#{$pn-font-path}/ProximaNova-BlackIt.eot");
    src:
        local("Proxima Nova Black Italic"), local("ProximaNova-BlackIt"),
        url("#{$pn-font-path}/ProximaNova-BlackIt.eot?#iefix")
        format("embedded-opentype"),
        url("#{$pn-font-path}/ProximaNova-BlackIt.woff") format("woff"),
        url("#{$pn-font-path}/ProximaNova-BlackIt.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
