.emby-scroller-container {
    position: relative;
}

.emby-scroller {
    margin-left: 3.3%;
    margin-right: 3.3%;
}

.emby-scroller {
    flex-wrap: inherit;
    overflow-x: auto !important;
    scrollbar-width: none;
}

.emby-scroller::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

@media all and (max-width:50em) {
    .emby-scroller {
        padding-left: 3.3%;
        padding-right: 3.3%;
        margin-left: 0;
        margin-right: 0;
    }
}