/* Base Grid, based on Bootstrap Breakpoints */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--spacing-xs);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}
