.chapterThumbTextContainer,
.videoOsdBottom {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.osdPoster img,
.pageContainer,
.videoOsdBottom {
    bottom: 0;
    left: 0;
    right: 0;
}

.osdHeader {
    -webkit-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7) !important;
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    color: #eee !important;
}

.osdHeader-hidden {
    opacity: 0;
}

.osdHeader .headerButton:not(.headerBackButton):not(.headerCastButton) {
    display: none;
}

.chapterThumbContainer {
    -webkit-box-shadow: 0 0 1.9vh #000;
    box-shadow: 0 0 1.9vh #000;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    position: relative;
}

.chapterThumb {
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    height: 20vh;
    min-width: 20vh;
}

@media all and (orientation: portrait) {
    .chapterThumb {
        height: 30vw;
        min-width: 30vw;
    }
}

@media all and (max-height: 50em) and (orientation: landscape) {
    .chapterThumb {
        height: 30vh;
        min-width: 30vh;
    }
}

.chapterThumbTextContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 0.25em 0.5em;
    user-select: none;
}

.chapterThumbText {
    padding: 0.25em 0;
    margin: 0;
    opacity: 1;
}

.chapterThumbText-dim {
    opacity: 0.6;
}

.videoOsdBottom {
    position: fixed;
    padding: 0 1.75%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    will-change: opacity;
    -webkit-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    color: #fff;
    user-select: none;
    -webkit-touch-callout: none;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}

.videoOsdBottom-hidden {
    opacity: 0;
}

.osdControls {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.videoOsdBottom .buttons {
    padding: 0.25em 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.osdVolumeSliderContainer {
    width: 9em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.osdMediaInfo,
.volumeButtons {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
}

.volumeButtons {
    margin: 0 0.5em 0 auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.osdTimeText {
    margin-left: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.osdPoster {
    position: relative;
}

.osdPoster img {
    display: none;
}

.osdTitle,
.osdTitleSmall {
    margin: 0 1em 0 0;
}

.osdTitle,.osdMediaInfo {
    color: rgba(255,255,255,.8);
}

.osdFirst {
    padding-bottom: 0.8em;
}

.osdMediaInfo {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.osdSecondaryMediaInfo {
    padding-left: 0.6em !important;
}

.osdTextContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.osdMainTextContainer {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}

.osdMediaStatus {
    margin-left: auto;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.osdMediaStatus .animate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.pageContainer {
    top: 0;
    position: fixed;
}

@media all and (max-width: 30em) {
    .osdMediaInfo,
    .osdPoster {
        display: none !important;
    }
}

@media all and (max-width: 33.75em) {
    .videoOsdBottom .paper-icon-button-light {
        margin: 0;
    }
}

@media all and (max-width: 43em) {
    .videoOsdBottom .volumeButtons,
    .osdMediaStatus span {
        display: none !important;
    }
}

@media all and (max-width: 75em) {
    .videoOsdBottom .endsAtText {
        display: none !important;
    }
}
.videoOsdBottom .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.osdFirst {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.osdIn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.osdSecond {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.osdFirst h3.osdTitle {
    font-weight: normal;
    font-size: 1.75em;
}
.osdSecond i,.osdThird i,.osdFirst i, .videoOsdBottom .paper-icon-button-light>i {
    font-size: 2.45em;
}
span.osdDurationText, .osdPositionText, .osdMediaInfo {
    font-size: 1.48em;
}

.osdMediaInfo,.osdMediaInfo i {
    font-size: 1em;
}

@media all and (max-width: 30em) {
    .osdPositionText,.osdDurationText,span.osdDurationText {
        font-size: 1.15em;
    }
}

@media all and (max-width: 60em) {
    .osdFirst i,.osdThird i {
        font-size:2.56em;
    }
    .osdSecond i {
        font-size: 248%;
    }
    .osdSecond {
        position: fixed;
        left: 0;
        right: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-align-self: center;
        align-self: center;
        top: 50%;
        margin-top: -2em;
        font-size: 170%;
    }
    .osdFirst h3.osdTitle,.osdMediaInfo,.osdMediaInfo i {
        font-size: 1em;
    }
    .osdPause {
        margin-left: 13%;
        margin-right: 13%;
    }
}
.videoOsdBottom .osdCont {
    padding: .5em 0 1.5%;
}
.videoOsdBottom .btnFastForward,.videoOsdBottom .btnPause,.videoOsdBottom .btnRewind,.videoOsdBottom .btnRecord,.videoOsdBottom .btnPreviousTrack,.videoOsdBottom .btnNextTrack,.videoOsdBottom .buttonMute {
    margin: 0;
}
.osdSecond {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.osdThird {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    flex: 1;
}